.arrowDown {
  margin-top: 20px;

  &--right {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.8s ease;
    left: auto;
    right: 0;
    transform: translateX(0%);
  }
}
